<div class="table-wrapper">
  <div class="table-title">
    <h2 class="table-header">Comentarios</h2>
  </div>
  <table class="table table-striped" *ngIf="courseComment.length > 0">
    <thead>
      <tr>
        <th class="header-cell">ID</th>
        <th class="header-cell">ID-Autor</th>
        <th class="header-cell">Comentario</th>
        <th class="header-cell">Acronym</th>
        <th class="header-cell">Date</th>
        <th class="header-cell">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of courseComment; let i = index">
        <td>{{ c.idCommentC }}</td>
        <td>{{ c.id_User }}</td>
        <td>{{ c.contentC }}</td>
        <td>{{ c.acronym}}</td>
        <td>{{ c.date}}</td>
        <td class="action-buttons">
          <a class="action-link" [routerLink]="['/course-comment-details/', c.idCommentC]"> Ver </a>
          <a class="action-link delete-link" (click)="delete(c.idCommentC)"> Eliminar </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="courseComment.length === 0" class="no-comments centered">
    No hay comentarios para este curso.
  </div>
</div>
<div class="form-group separated">
  <button class="btn " [routerLink]="['/course-list']">Volver a los cursos</button>
</div>