<body>
    <form class="form-group form-style">
        <h1>Comentario de noticia</h1>


        <div class="form-group row">
            <label class="control-label col-md-12">ID comentario: </label>
            <div class="col-md-4">
                <label class="form-data-label">{{ newsComment.id }}</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-12">ID autor: </label>
            <div class="col-md-4">
                <label class="form-data-label">{{ newsComment.id_User }}</label>
            </div>
        </div>

        
        <div class="form-group row">
            <label class="control-label col-md-12">ID Noticia: </label>
            <div class="col-md-4">
                <label class="form-data-label">{{ newsComment.id_New }}</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-12">Fecha: </label>
            <div class="col-md-4">
                <label class="form-data-label">{{ newsComment.date | date:'yyyy-MM-dd'  }}</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-12">Contenido: </label>
            <div class="col-md-4">
                <label class="form-data-label">{{ newsComment.contentC }}</label>
            </div>
        </div>


        <div class="form-group">
            <button type="button" class="btn" [routerLink]="['/course-comments-list/', newsComment.idNew]">Volver</button>
        </div>
    </form>
</body>
