<body>
    <form [formGroup]="courseForm" (ngSubmit)="onSubmit()" class="form-group form-style">
      <h1>Editar curso</h1>
  
      <div class="form-group row">
        <label class="control-label col-md-12">Siglas: </label>
        <div class="col-md-4">
          <input type="text" formControlName="acronym" class="form-control" />
        </div>
      </div>
  
      <div class="form-group row">
        <label class="control-label col-md-12">Nombre: </label>
        <div class="col-md-4">
          <input type="text" formControlName="name" class="form-control" />
        </div>
      </div>
  
      <div class="form-group row">
        <label class="control-label col-md-12">Ciclo: </label>
        <div class="col-md-4">
          <input type="text" formControlName="cycle" class="form-control" />
        </div>
      </div>
  
      <div class="form-group row">
        <label class="control-label col-md-12">Profesor: </label>
        <div class="col-md-4">
          <input type="text" formControlName="professor" class="form-control" />
        </div>
      </div>
  
      <div class="form-group row">
        <label class="control-label col-md-12">Descripción: </label>
        <div class="col-md-4">
          <input type="text" formControlName="description" class="form-control" />
        </div>
      </div>
  
      <div class="form-group row">
        <label class="control-label col-md-12">Semestre: </label>
        <div class="col-md-4">
          <input type="text" formControlName="semester" class="form-control" />
        </div>
      </div>
  
      <div class="form-group row">
        <label class="control-label col-md-12">Quota: </label>
        <div class="col-md-4">
          <input type="text" formControlName="quota" class="form-control" />
        </div>
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn">Guardar</button>
        <button type="button" class="btn" [routerLink]="['/course-list']">Cancelar</button>
      </div>
    </form>
  </body>