<body>
    <form class="form-group form-style">
        <h1>Detalles del profesor</h1>

        <div class="form-group row">
            <label class="control-label col-md-12">ID: </label>
            <div class="col-md-4">
                <label class="form-data-label">{{ Professor.id }}</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-12">Nombre: </label>
            <div class="col-md-4">
                <label class="form-data-label">{{ Professor.name }}</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-12">Apellido: </label>
            <div class="col-md-4">
                <label class="form-data-label">{{ Professor.sname }}</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-12">Correo: </label>
            <div class="col-md-4">
                <label class="form-data-label">{{ Professor.email }}</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-md-12">Formación: </label>
            <div class="col-md-4">
                <label class="form-data-label">{{ Professor.formation }}</label>
            </div>
        </div>

        <div class="form-group">
            <button type="button" class="btn" [routerLink]="['/course-professor-list']">Volver</button>
        </div>
    </form>
</body>
