
        <div class="table-wrapper">
            <div class="table-title">
                <h2 class="table-header">Cursos</h2>
                <button class="file-label add-button" [routerLink]="['/course-add/']">Agregar</button>
            </div>
            <table class="table table-striped" *ngIf="course">
                <thead>
                    <tr>
                        <th class="header-cell">Siglas</th>
                        <th class="header-cell">Nombre</th>
                        <th class="header-cell">Profesor</th>
                        <th class="header-cell">Ciclo</th>
                        <th class="header-cell">Comentarios</th>
                        <th class="header-cell">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of course; let i = index">
                        <td>{{ c.id }}</td>
                        <td>{{ c.name }}</td>
                        <td>{{ c.ProfesorId }}</td>
                        <td>{{ c.cycle }}</td>
                        <td class="action-buttons">
                            <a class="action-link" [routerLink]="['/course-comments-list/', c.id]">comentarios</a>

                        </td>
                        <td class="action-buttons">
                            <a class="action-link" [routerLink]="['/course-details/', c.id]"> Ver </a>
                            <a class="action-link" [routerLink]="['/course-edit/', c.id]"> Editar </a>
                            <a class="action-link delete-link" (click)="delete(c.id)"> Eliminar </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

